<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>美食欣赏</title>
<link href="./static/msstyle.css" rel="stylesheet" type="text/css" />
<link href="./static/footerstyle.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="wrapper">
  <div id="logo"><img src = "./static/images/xx_logo.gif" width="150" height="80"/></div>
  <div id="banner"><img src=".static/images/shici_banner.gif"/></div>
  <div class="ms_nav_text" id="nav">当前位置：首页>>美食欣赏</div>
  <div class="ms_zw" id="content">
    <p class="ms_title">让吃更美好</p>
    <p class="ms_zw">&quot;让吃更美好!&quot;是美食广场的使命。</p>
    <p class="ms_zw">美食广场以汇集天下美食为己任，更以为美食家提供一个交流、展示的舞台为无上的荣光。美食广场用美食连接世界，为世界提供鲜活的美食资讯，让吃更美好!!</p>
    <p class="ms_zw">美食天下，用美食连接世界。</p>
    <p class="ms_zw">我们在这里为大<img src="./static/images/mstp1.jpg" alt="mstp1" width="200" height="134" class="ms_img1" />家提供原创厨艺的展示舞台，美食心情的交流社区，美好生活的分享平台。通过传播及分享与美食相关的点滴，美食广场引领大家发现并体验健康积极时尚的生活方式，变革着都市家庭的生活品质。</p>
    <p class="ms_zw">我们以“让吃更美好！”为使命，美好是吃的健康、安全、美味，更是“吃”带给人的美好感受和感悟，包括手造的愉悦，表现的快感，以及分享的快乐，是用美食体味生活之美。</p>
    <p class="ms_zw">厨房、客厅、网络、手机，只要你需要美食，就请走进美食广场吧！美食广场汇集门派最多、数量最大、范围最广的美食资讯，涵盖美食专题精选、优质菜谱、食材分析、会员交流、话题分享等，各种日新月异的交互体验。</p>
    <p class="ms_zw">对于美食，我们有着坚定的信念——我们普及健康食材，引导品质生活方式：食物的美妙味感固然值得玩味，但只有吃的健康，才算吃的美好。帮助人们吃的安全、健康、美好，是我们的社会责任；我们传承美食文化，传递美食正能量：美食是一种文化，需要传承，渴望创新。向经典致敬，向大师取经；让传统新生，为创意开道，是我们的传播使命；我们凝聚达人力量，成就美食梦想：每一个达人都有美食梦想，每一个有梦想的人都可能成为明星。为爱美食的人圆梦，是我们前行的动力；我们搭建互动平台，<img src="./static/images/mstp2.jpg" alt="ms_img2" width="180" height="115" class="ms_img2" />创造美食社交新生活：选择美食，就是选择用开放分享的态度拥抱生活。成为美食家们的分享沙龙，创造美食社交新生活，是我们的价值和骄傲。而所有这一切，都是为了——“让吃更美好！”</p>
    <p class="ms_zw">我们相信热爱美食的每个人都有值得分享的东西，任何一种美食技能都可以被学习；每一个创意都是创造者的骄傲，每一个有创意的人都可能成为明星。</p>
    <p class="ms_zw">为弘扬中华民族饮食文化，为中国人吃的更健康，我们竭尽全力！我们只有一个使命：让吃更美好！</p>
  </div>
  <div id="footer" class="footerstyle">版权所有&copy;广东技术师范大学《网页设计与制作》公选班XXX <br />
  地址：广东省广州市</div>
</div>
</body>
</html>
